.vdQmEd.fP1Qef.EtOod.pkphOe,.digiad-link,x,.ads-block,.yasdl-topbanners-body, .adv_l, .type-resource-image, .ads, .ad,.ad-box,.adsbygoogle,.adhtml,.ADParent,#aswift_1,#aswift_2,#aswift_3,#aswift_4,#aswift_5,#aswift_6 {
2
    display: none !important;
3
}
4
.adn{
5
    display: inline-block!important;
6
padding-left:72px!important;
7
}
